<!-- <ion-header no-border> -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-list color="dark">
    <ion-item color="dark" *ngFor="let item of lista" detail (click)="verLista(item)">
      <ion-label>
        {{ item.titulo }}
      </ion-label>
      <ion-note color="tertiary" slot="end">{{ item.items.length }} items</ion-note>
    </ion-item>
  </ion-list>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="agregarLista()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
